# Random Files and Directories
.*.swp
._*
.DS_Store
.hg
.lock-wscript
.wafpickle-*
config.gypi
logs
*.log
*.ctxt
*.class
hs_err_pid*
target/
config/
dist/
test/config/

# Development Repositories
CVS
.svn
.git
.npmrc
node_modules/
nbproject/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# next.js build output
.next

# NetBeans
nbproject/
